@font-face {
  font-family: "Roboto300";
  src: url(../../assets/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto400";
  src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto500";
  src: url(../../assets/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto700";
  src: url(../../assets/fonts/Roboto/Roboto-Bold.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); 
