@font-face {
  font-family: "Roboto300";
  src: url(../../assets/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto400";
  src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto500";
  src: url(../../assets/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto700";
  src: url(../../assets/fonts/Roboto/Roboto-Bold.ttf);
}
