* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
i {
  cursor: pointer;
}
input,
textarea {
  outline: none;
}

ul {
  list-style-type: none;
}
#loading {
  position: fixed;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.5s;
}
#loading.loading-none {
  opacity: 0;
  z-index: -1;
}
#navbar.navbar-shrink {
  padding: 10px 0px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 5px black;
}
#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.5s;
  z-index: 10000;
}
#navbar-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  border: none;
  background: transparent;
  z-index: 9999;
}
.close {
  font-size: 30px;
  color: var(--dark);
  transition: all 500ms;
}
.open {
  display: none;
}
.res-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.res-nav__link {
  color: #000;
  font-family: "Roboto500";
  font-size: 40px;
  transition: all 500ms;
}
.res-nav__link:hover{
  opacity: 0.8;
}

@media (max-width: 800px) {
  .nav__list {
    display: none;
  }
  .open {
    display: block;
    color: black;
    font-size: 25px;
  }
}
