@import "../base/global.css";

@import "../modules/projects.css";
@import "../modules/donate.css";
@import "../modules/news.css";
@import "../modules/events.css";
@import "../layout/container.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.home {
  display: flex;
  column-gap: 110px;
  margin: 100px 0;
}

.home-title {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.home-title {
  margin-bottom: 32px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home-left h1 {
  margin-bottom: 34px;
  margin-left: 95px;
  max-width: 461px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}

.home-list {
  max-width: 594px;
  margin-left: 95px;
  color: var(--Secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.home-right img {
  width: 100%;
}

.Environment {
  padding-bottom: 100px;
  flex-shrink: 0;
  background: var(--Green-tertiary, #eff7f2);
}

.enviroment-title h2 {
  max-width: 689px;
  padding-top: 100px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.enviroment-icon {
  column-gap: 24px;
  display: flex;
  align-items: center;
}
.enviroment-icon h3 {
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}

.title-list {
  margin-left: 50px;
  /* max-width: 332px; */
  color: var(--Secondary-text, #525560);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}

.enviroment-list-icon {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 384px 384px 384px;
  column-gap: 64px;
  row-gap: 48px;
}

.society h2 {
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: center;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.society p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  text-align: center;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.society-2 {
  display: grid;
  grid-template-columns: 411px 411px 411px;
  column-gap: 24px;
}

.tree {
  margin-bottom: 96px;
  background-color: black;
  background: url(../../assets/images/home-9.png)no-repeat center/cover;
}
.tree:nth-child(3){
  background: url(../../assets/images/home-11.png)no-repeat center/cover;
}

.trees__img {
  background: url(../../assets/images/home-10.png)no-repeat center/cover;
}

.tree h4 {
  padding: 80px 48px 16px 48px;
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.tree p {
  padding: 0 48px 64px 48px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.tree button {
  display: inline-flex;
  padding: 16px 32px;
  margin-left: 48px;
  margin-bottom: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
}


@media (max-width: 1000px) {
  .home {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #fff;
    backdrop-filter: blur(40px);
  }
}

@media (max-width: 1000px) {
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .enviroment-list-icon {
    align-items: center;
    justify-content: center;
    grid-template-columns: 384px 384px;
    column-gap: 64px;
    row-gap: 48px;
  }
}

@media (max-width: 1000px) {
  .enviroment-list-icon,
  .society-2 {
    align-items: center;
    justify-content: center;
    grid-template-columns: 384px 384px;
    column-gap: 64px;
    row-gap: 48px;
  }
}

@media (max-width: 1000px) {
  .enviroment-title {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .enviroment-list-icon,
  .society-2 {
    align-items: center;
    justify-content: center;
    grid-template-columns: 384px;
    column-gap: 64px;
    row-gap: 48px;
  }
}
